.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 0px 0px; /* Some padding */
    font-size: 10px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width:30px;
    height:30px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: DodgerBlue;
  }